*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}


header{
    background-color: #FFFFFF;
}

/* navigation bar starts here */
nav{
    width: 100%;
    max-width: 1600px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .btn{
    padding: 12.5px 16px;
}
/* navigation bar ends here  */


/* banner starts here  */
#banner{
    border: 1px solid red;
    background: url(../assets/hero-bg.png);
    height: 674px;  
}

 #banner .banner_content{
    border: 1px solid red;
    margin: 115.5px 120px 179.5px 120px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
 }


#banner .early_access_btn{
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px ;
    margin-bottom: 16px;
    cursor: pointer;
}

#banner .banner_content h1{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner_content h1 .second_line{
    color: #30B868;
    display: block;
}

#banner .banner_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: center;
}


#banner .banner_content .two_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


#banner .banner_content .left_green_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}


#banner .banner_content .right_transparent_btn{
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
    cursor: pointer;
}
/* banner ends here  */


/* notes_dont_fail section starts here  */
#notes_dont_fail{
    border: 1px solid red;
}

#notes_dont_fail .notes_dont_fail_container{
    height: 448px;
    width: 100%;
}
#notes_dont_fail .notes_dont_fail_container .section_heading{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    height: 152px;
}

.notes_dont_fail_container .section_heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    padding-top: 36px;
}

.notes_dont_fail_container .section_heading p{
     font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

.notes_dont_fail_container .notes_box_together{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1360px;
    margin: 44px auto 0;
}

.notes_dont_fail_container .notes_box_together img{
    padding: 14px;
    background: #F95555;
    border-radius:100px;  
    margin: 69.5px 131px 16px 131px;
}

.notes_dont_fail_container .notes_box_together .notes_card{
    box-shadow: 0 0 8px 0  #00000021;
    /* border: 1px solid red; */
    text-align: center;
    max-width: 322px;
    height: 300px;
}

.notes_dont_fail_container .notes_box_together .notes_card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.notes_dont_fail_container .notes_box_together .notes_card p{
    margin: 16px 24px 69.5px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
/* notes_dont_fail section ends here   */